
.contact-h1{
    color: rgb(255, 255, 255);
}

.contact-text{
    color: #fff
}

.contact-div{
   padding-top: 80px;
   background-color: rgba(68, 63, 63, 0.555);
   border-radius: 30px;
}

.contact-wrapper{
    padding: 20px;
}