.jumbotron{
    color: rgb(255, 255, 255);
    height: 100vh;
    align-items: center;
    border-bottom: 0px;
    font-weight: 400;
    padding: 0px;
    margin: 0px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.projects{
    background-color: rgb(206, 156, 156);
}